<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tk.shenyifeng.study.mapper.UserMaper">

    <insert id="insert">
        insert into user(name,age) values(#{name},#{age})
    </insert>

    <select id="findOne" resultType="tk.shenyifeng.study.model.UserModel">
        select * from user where id = #{id}
    </select>

    <update id="updateOne">
        update user
        <set>
            <if test="name != null and name != ''">
                 name = #{name},
            </if>

            <if test="age != 0">
                 age = #{age},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>